<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="select-ection">
		<div class="item">
			<a href="/add-product">Добавить товар</a>
		</div>
		<div class="item">
			<a href="/add-category">Добавить категорию</a>
		</div>	
		<div class="item">
			<a href="/add-subcategory">Добавить подкатегрию</a>
		</div>	
		<div class="item">
			<a href="/add-service">Добавить услугу</a>
		</div>	
	</div>
</body>
</html>